#containerId {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc; /* Opcional: para visualizar el borde del contenedor del mapa */
}

#containerId2 {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc; /* Opcional: para visualizar el borde del contenedor del mapa */
}
