.btn-back {
    display: inline-block;
    margin-right: 16px;
    background-color: #ffcc00;
    border-radius: 5px;
  }
  .btn-back2 {
    display: inline-block;
    margin-right: 16px;
    border-radius: 5px;
  }
  .btn-back:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  }

  /* tu.componente.css */
.menu-visible {
  transform: translateX(0);
}

.menu-hidden {
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .menu-hidden {
    transform: translateX(0);
  }
}


app-dropdown-menu{
  position: relative;
}


.mt100 {
  margin-top: 100px;
}