<!--<app-btn
color="green"
(click)="toggleModal()"> Cargar Espacios Potenciales </app-btn>-->
<button  type="submit" (click)="toggleModal()" class=" min-w-fit w-60 w-full text-white focus:ring-4 focus:outline-none font-medium px-2.5 py-2.5 text-center" >Cargar Espacios Potenciales</button>

<app-modal [titulo]="'Cargue Manual de Espacios Potenciales'" [botonModal]="'Cargar Censo'" [ShowModal]="showModal" (cerrarModalEvent)="cerrarModal($event)">
  <section class="my-4 text-slate-500 text-lg leading-relaxed">
    <form [formGroup]="form">
      <p class="my-4 text-slate-500 text-lg leading-relaxed">
        Debes seleccionar un archivo de Espacios Potenciales valido para realizar la carga de manera exitosa.
      </p>
      <section class="mt-4 text-right">
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded" href="assets/EspaciosPotenciales.csv" download>Descargar Plantilla</a>
      </section>
      
      

        <section>
          <app-file-upload (fileUploaded)="onFileUploaded($event)"></app-file-upload>
          <label *ngIf="selectedFile">Archivo preparado: {{selectedFile.name}}</label>
        </section>
        <br>
        <section>
          <div *ngIf="statusDetail==='error'" class="alert alert-danger" role="alert">
            Ha ocurrido un error al cargar.
          </div>
          <div *ngIf="statusDetail==='success'" class="alert alert-success" role="alert">
            La operacion se ha realizado con exito.
          </div>
          <div *ngIf="isFormInValid" class="alert alert-danger" role="alert">
            <ul>
            </ul>
          </div>
        </section>
        <br>
        <div class="flex justify-end space-x-4">
          <app-btn  typeBtn="submit"
          *ngIf="selectedFile"
          color="primary"
          [loading]="statusDetail === 'loading'"
          (click)="cargarArchivo()">Cargar Archivo</app-btn>
        </div>
    </form>

  </section>
</app-modal>
