
<app-obligatorio></app-obligatorio>
<div class="flex justify-between mb-4">
  <h1 class="text-lg font-semibold">Rol</h1>
</div>
<br>
<form [formGroup]="form">
  <div style="padding: 5px 10px 10px 10px;" class="relative    top-0 flex flex-col bg-clip-border rounded-lg bg-white text-gray-700 shadow-xl">
  
    <div class="flex justify-between mb-4">
      <ul class="flex">
        <li class="flex-row" style="padding: 5px 0 0 0;">
          <h1 class="text-lg font-semibold p-2">Información del rol</h1>
         
        </li>
      </ul>
    </div>
  
    <div class="p-6">
      <div class="grid gap-6 mb-6 md:grid-cols-4">
        <div>
          <label for="first_name" class="block mb-2 text-xs font-medium text-gray-900 dark:text-gray-900"><strong class="text-red-500">*</strong>Nombre
            del rol:</label>
          <input type="text" formControlName="rolName" id="rolName"
            class="bg-gray-50 border  border-primary-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Escriba el rol" [ngClass]="{'required': !field('rolName').isValid()}">
        </div>
      </div>
      <div class="flex justify-end space-x-4">
       <!-- <app-btn *ngIf="!isNew && mostraDelete" typeBtn="submit" color="yellow" [loading]="statusDetail === 'loading'"
          (click)="mostrarConfirmacion()">Borrar</app-btn>-->
          <button *ngIf="!isNew && mostraDelete" (click)="mostrarConfirmacion()"  type="button" class=" w-48 w-full text-white focus:ring-4 focus:outline-none font-medium  px-2.5 py-2.5 text-center" > Borrar </button>
        
        <!--<app-btn *ngIf="isNew" typeBtn="submit" color="primary" [loading]="statusDetail === 'loading'"
          (click)="Guardar()">Guardar</app-btn>-->
          <button *ngIf="isNew" (click)="Guardar()"  type="button" class=" w-48 w-full text-white focus:ring-4 focus:outline-none font-medium  px-2.5 py-2.5 text-center" > Guardar </button>
          <button *ngIf="!isNew && mostraUpdate" (click)="Actualizar()"  type="button" class=" w-48 w-full text-white focus:ring-4 focus:outline-none font-medium  px-2.5 py-2.5 text-center" > Actualizar </button>
        <!--<app-btn *ngIf="!isNew && mostraUpdate" typeBtn="submit" color="primary" [loading]="statusDetail === 'loading'"
          (click)="Actualizar()">Actualizar</app-btn>-->
      </div>
    </div>
  </div>
     
       
     
 
  
  <br>
  <div *ngIf="statusDetail==='error'" class="alert alert-danger" role="alert">
    Ha ocurrido un error al realizar la operación en el rol.
  </div>
  <div *ngIf="statusDetail==='success'" class="alert alert-success" role="alert">
    La operacion se ha realizado con exito.
  </div>
</form>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="c('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>¿Estas seguro que deseas eliminar?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="c(Borrar())">Si</button>
  </div>
</ng-template>
